.project_card_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project_card {
  width: 90%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius:10px;
  border-top-left-radius:10px; 
   border: 7px solid #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card_body {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.101);
}
.card_body img {
    width: 100%;
  transition: all 1s ease-in-out;
  background-size: cover;
}

.card_body img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.101);
  transform: scale(1.2);
}

.prod_description{
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.tooltips{
  background-color: #fff;
  border-radius: 50%;
  height: 15px;
  color: #2ca58d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.project_detail {
  width: 100%;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  background-color: #1414142d;
}
.project_name {
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.399);
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
}
.app_link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.live_app{
  background-color: #2ca58d;
  padding: 5px 8px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  margin: 2px;
}
.live_app:hover{
  background-color: #1b9980;
  cursor: pointer;
  color: white;
}
.github_link{
  background-color: #242424;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github_link:hover{
  cursor: pointer;
  color: #fff;
}


.tv_curve{
    width: 95%;
    height: 20px;
    background-color: #101010;
    /* border-radius: 50%; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 1px solid rgb(52, 52, 52);
}


@media only screen and (max-width: 1000px) {
  .project_card {
     border: 6px solid #141414;
  }
  .tv_curve{
    height: 15px;
}
.project_detail {
  font-size: 14px;
}
}

@media only screen and (max-width: 600px) {
  .project_detail {
    padding: 3px 5px;
    font-size: 12px;
  }
}