@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  padding: 0 2rem;
}

.nav-logo img {
  width: 100px;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
nav .nav-menu .nav-menu-item {
  color: white;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 18px;
}
nav .nav-menu .nav-menu-item:hover {
  border-bottom: 1px solid #2ca58d;
  color: #2ca58d;
}
.nav-btns {
  display: none;
  color: #fff;
}

@media (max-width: 1000px) {
  .nav-btns {
    display: block;
  }
  .nav-menu {
    width: fit-content;
    flex-direction: column;
    position: absolute;
    top: -100%;
    right: -100%;
    transition: all 0s ease-in-out;
  }

  .nav-menu.expanded {
    background-color: none;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 80px;
    width: fit-content;
    height: fit-content;
    z-index: 3;
    transition: all 0.3s ease-in-out;
  }
  nav .nav-menu .nav-menu-item {
    background-color: #2ca58d;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: row;
  }
  nav .nav-menu .nav-menu-item:hover {
    color: #fff;
  }
  nav .nav-menu .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #2ca58d;
    border-bottom: 5px solid transparent;
  }
  nav .nav-menu .nav-menu-item span {
    margin: 5px;
  }
}
@media (max-width: 700px) {
  nav {
    padding: 0 0.5rem;
  }
}
